.git/
/database/app_development
database/performance_schema
database/mysql
database/ibdata1
database/ib_logfile1
database/ib_logfile0
database/auto.cnf
/.venv
*.vscode
*__pycache__
*.pyc
req
*-checkpoint.ipynb
.mypy_cache
finance/documents/negocios.xlsx
finance/documents/negociosNUinvest.xlsx
finance/documents/posicao.xlsx
financeDataScience.egg-info/dependency_links.txt
financeDataScience.egg-info/PKG-INFO
financeDataScience.egg-info/requires.txt
financeDataScience.egg-info/top_level.txt
financeDataScience.egg-info/SOURCES.txt
